h1,
h2,
p,
li {
  color: rgb(231, 40, 40);
  text-align: center;
}
body {
  background-color: rgb(31, 48, 48);
}
html {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}
h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 6rem;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}
h2 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
p,
li {
  font-size: 2.4rem;
  line-height: 2;
  letter-spacing: 1px;
}
a {
  color: rgb(235, 243, 79);
  text-decoration: underline;
  font-size: 1.5rem;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}
